.my-list {
  background-color: rgb(211, 62, 62);
  color: #fff;
}
.button {
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }